# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Contents of output folder
output/*

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
*_cache/
/cache/

# R Environment Variables
.Renviron

# Other
*.docx
*.xlsx
